html, body {
    height: 100%;
}
body {
    background: #fdfdfd url(../img/furley_bg/furley_bg.png);
}
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -51px;
}
#wrap .container>.row:first-child {
    margin-top: 20px;
}
#spacer {
    height: 51px;
}
#footer {
    height: 50px;
    border-top: 1px solid #eee;
}
#footer p {
    margin-top: 20px;
}
#logo-muted {
    width: 32px;
    height: 32px;
    background: transparent url(../img/logo-muted.png) center center no-repeat;
    margin-top: 12px;
}
.spaced-top-small {
    margin-top: 15px;
}
#buttons>div>div:not(:first-child) {
    margin-top: 10px;
}
#color-selector-text-wrap {
    height: 20px;
    display: block;
}
pre.pre-small-margin {
    margin-bottom: 2px;
}
#block-btn-fixed-description {
    padding-top: 7px;
    position: relative;
}
#block-btn-fixed-description #btn-left-arrow {
    position: absolute;
    left: -25px;
    top: 5px;
    font-size: 18px;
    color: #999;
}
pre .custom {
    text-decoration: underline;
    color: #d14;
}
a.on-page-link, a.on-page-link:hover, a.on-page-link:active {
    text-decoration: none;
    border-bottom: 1px dotted;
    display: inline-block;
    line-height: 12px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    body {
        background: #fdfdfd url(../img/furley_bg/furley_bg_@2X.png);
        background-size: 256px;
    }
    #logo-muted {
        background: transparent url(../img/logo-muted@2x.png);
        background-size: 32px;
    }
}
body.no-bg {
    background: #fafafa;
}